<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node name="rosbag_node" pkg="rosbag" type="play" args="$(find ets2_ros_bridge)/data/log.bag" output="screen" respawn="true">
  </node>

  <node name="image_view2" pkg="image_view2" type="image_view2" args="image:=/ets2_image_publisher_node/image" output="screen" respawn="true">
  </node>
</launch>
